section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#diapo {
	position: relative;
	top: 20px;
  height: 500px;
  width: auto;
	justify-content: center;
}

h1 {
	top: 20px;
}
